body{background:#867d7db2}
h1 {color:#0c5fbe;}
h2 {color:#0c82a0;}
h3 {color:#119869;}
section {background-color: #e0eecd;}
article {background-color: #eff4e7;}
footer {background-color: #0c5fbe;
color:antiquewhite;}

/*tu mam zdefiniowany color dla wszystkich linków:*/
a {
    color:aquamarine;
}

/*tu mam zdefiniowany color dla wszystkich linków we wszystkich sekcjach*/
section a {
    color:rgb(249, 226, 15); }

.granatowy {
    color:rgb(3, 1, 122);
}

/* tu mam miks formatowania dla klasy i elementu */
.o-mnie p {
    background-color: rgb(154, 250, 218);
}